*{
        margin: 0;
        padding: 0;
        user-select: none;
}
body{
        background-color: black;
}
.container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        width: fit-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        background-color: gray;
        border-radius: 20px;
        padding: 2vh 1vw;
}
input{
        padding: 1vh 1vw;
        font-size: 1.3rem;
        border-radius: 20px;
        border: none;
}
.button-container{
        display: flex;
        flex-direction: column;
        gap: 1vh;
}
.rows-calculator{
        display: flex;
        gap: 1vw;
}
button{
        padding: 1rem;
        border: none;
        font-size: 1.3rem;
        border-radius: 10px;
        width: 10vw;
}